.web-body{
  background: #132743;
  min-height: 120vh;
}

.nav-per{
  align-items: center;
  background-color: #407088;
  height: 40px;
  color: white;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-links{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  width: 40%;
}

.nav-links li{
  color: white;
  list-style: none;
  text-transform: uppercase;
}

.form-data{
  background: #ffcbcb;
}

.sub-title{
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.download-buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Listado de expensas */

.seccion-expensas-creadas {
  background-color: #132743;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list-expensa {
  width: 80%;
}

.list-expensa-row {
  align-items: center;
  background: #ffe2e2;
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-expensa-row-elem{
  width: 50%;
}

.list-expensa-row-elem h3{
  margin: 20%;
}

.list-expensa-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.crear-expensa-btn {
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-self: flex-end;
  margin-right: 10%;
  width: 20%;
}

/* Login */

.login-form h1{
  font-size: 30px;
  text-align: center;
}

.container-form{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background: #ffcbcb;
  padding: 10px;
  width: 70%;
}