.web-body{
  background: #132743;
  height: 100vh;
}

.nav-per{
  align-items: center;
  background-color: #407088;
  height: 40px;
  color: white;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  color: white;
  list-style: none;
  text-transform: uppercase;
}

.form-data{
  background: #ffcbcb;
}

.sub-title{
  color: white;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.download-buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-pdf{
  background: #407088;
  border-radius: 10%;
  color: white;
  font-weight: 600;
  padding: 5px;
  margin: 8px;
  width: 30px;
}

.list-expensa-item {
  align-items: center;
  background: #ffe2e2;
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin: 5px;
}

.crear-expensa-btn {
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  width: 20%;
}